	<settings>
		<mirrors>
			<!--<mirror>
			  <id>nexus</id>
			  <mirrorOf>*</mirrorOf>
			  <url>http://192.168.243.3:8111/nexus/content/groups/public</url>
			</mirror>-->
			<mirror>
				<id>uk.maven.org</id>
				<mirrorOf>*</mirrorOf>
				<url>http://uk.maven.org/maven2</url>
			</mirror>
			<mirror>
				<id>uk.maven.org</id>
				<mirrorOf>*</mirrorOf>
				<url>http://central.maven.org/maven2</url>
			</mirror> 
	  </mirrors>
	  <profiles>
	    <profile>
	      <id>nexus</id>
	      <!--Enable snapshots for the built in central repo to direct -->
	      <!--all requests to nexus via the mirror -->
	      <repositories>
	        <repository>
	          <id>central</id>
	          <url>http://central</url>
	          <releases><enabled>true</enabled></releases>
	          <snapshots><enabled>true</enabled></snapshots>
	        </repository>
	      </repositories>
	     <pluginRepositories>
	        <pluginRepository>
	          <id>central</id>
	          <url>http://central</url>
	          <releases><enabled>true</enabled></releases>
	          <snapshots><enabled>true</enabled></snapshots>
	        </pluginRepository>
	      </pluginRepositories>
	    </profile>
	  </profiles>
	  <activeProfiles>
	    <!--make the profile active all the time -->
	    <activeProfile>nexus</activeProfile>
	  </activeProfiles>
	    <servers>
	        <server>
	            <id>deployment</id>
	            <username>acabra</username>
	      	    <password>Easysol3015*</password>
	        </server>
	    </servers>
	</settings>